<div class="p-1 d-flex justify-content-evenly align-items-center w-100 my-3">
    <div class="card mx-1 r-50 wh-150 center border border-2 border-primary text-white bg-primary">
        <p class="m-0 ">20</p>
        <span class="m-o Noto">Distict</span>
    </div>
    <div class="card mx-1 r-50 wh-150 center border border-warning text-white bg-warning">
        <p class="m-0 ">20</p>
        <span class="m-o Noto">Mandal</span>
    </div>
    
    <div class="card mx-1 r-50 wh-150 center border border-success text-white bg-success">
        <p class="m-0 ">20</p>
        <span class="m-o Noto">Secretariat</span>
    </div>
</div>
<hr>