<div class="body center">
    <h1 class="text-primary text-center">Overall data Summary</h1>
    <div class="mx-auto center m-5 d-flex">
      <button class="btn btn-primary mx-2" (click)="FinalSubmition()" *ngIf = "!submittrue">Check your Responces</button>
    </div>
    <div class="main p-3 d-flex card">
    <!-- FormStart -->
      <div class="center m-1">
        <label class="text-left text-muted w-25 m-0 mr-1">Name</label>
        <div class="mx-3">:</div>
        <input required class="form-control w-75" type="text" disabled [placeholder]="Name" >
      </div>
      <div class="center m-1">
        <label class="text-left text-muted w-25 m-0 mr-1">Age</label>
        <div class="mx-3">:</div>
        <input required class="form-control w-75" type="text" disabled [placeholder]="Age" >
      </div>
      <div class="center m-1">
        <label class="text-left text-muted w-25 m-0 mr-1">Gender</label>
        <div class="mx-3">:</div>
        <div class="w-75">
          <input required type="radio" disabled [(ngModel)]="Gender" name="Gender" value ="Male" id="GenderMale" class="mx-2"><label class="mx-1" for="GenderMale">Male</label><br>
          <input required type="radio" disabled [(ngModel)]="Gender" name="Gender" value ="Female" id="GenderFemale" class="mx-2"><label class="mx-1" for="GenderFemale">Female</label><br>
          <input required type="radio" disabled [(ngModel)]="Gender" name="Gender" value ="Other" id="GenderOther" class="mx-2"><label class="mx-1" for="GenderOther">Other</label>
        </div>
      </div>
      <div class="center m-1">
        <label class="text-left text-muted w-25 m-0 mr-1">Father Name</label>
        <div class="mx-3">:</div>
        <input required class="form-control w-75" type="text" disabled [placeholder]="Father_Name" >
      </div>
      <div class="center m-1">
        <label class="text-left text-muted w-25 m-0 mr-1">Guardian</label>
        <div class="mx-3">:</div>
        <input required class="form-control w-75" type="text" disabled [placeholder]="Guardian" >
      </div>
      <div class="center m-1">
        <label class="text-left text-muted w-25 m-0 mr-1">Mother Name</label>
        <div class="mx-3">:</div>
        <input required class="form-control w-75" type="text" disabled [placeholder]="Mother_Name" >
      </div>
       <!-- FormEnd -->

    <!-- Cast and Religion Start-->

    <div class="center m-1">
        <label class="text-left text-muted w-40 m-0 mr-1"> Father Occuption</label>
        <div class="mx-3">:</div>
        <div class="d-flex w-60">
          <select class="form-control" disabled [(ngModel)]="Father_Work">
            <option value="Labour">Labour</option>
            <option value="House_Hold">House hold</option>
            <option value="Working_in_hotels">Working in hotels</option>
            <option value="Labour_Field_work">Field work</option>
            <option value="Others">Others</option>
          </select>
        </div>
      </div>
      <div class="center m-1">
        <label class="text-left text-muted w-40 m-0 mr-1"> Mother Occuption</label>
        <div class="mx-3">:</div>
        <div class="d-flex  w-60">
          <select class="form-control" disabled [(ngModel)]="Mother_Work">
            <option value="Labour">labour</option>
            <option value="House_Hold">house hold</option>
            <option value="Working_in_hotels">working in hotels</option>
            <option value="Labour_Field_work">feild work</option>
            <option value="Others">others</option>
          </select>
        </div>
      </div>
      <div class="center m-1">
        <label class="text-left text-muted w-40 m-0 mr-1"> Caste</label>
        <div class="mx-3">:</div>
        <div class="d-flex  w-60">
          <select class="form-control" disabled [(ngModel)]="Cast">
            <option value="SC">SC</option>
            <option value="ST">ST</option>
            <option value="BC">BC</option>
            <option value="OC">OC</option>
          </select>
        </div>
      </div>
      <div class="center m-1">
        <label class="text-left text-muted w-40 m-0 mr-1">Religion</label>
        <div class="mx-3">:</div>
        <div class="d-flex  w-60">
          <select class="form-control" disabled [(ngModel)]="Religion">
            <option value="Hinduism">Hinduism</option>
            <option value="Islam">Islam</option>
            <option value="Christainity">Christainity</option>
            <option value="others">others</option>
          </select>
        </div>
      </div>

    <!-- Cast and Religion End -->

    <!-- Work Start -->
    <div class="center m-1">          
        <label class="text-left text-muted w-40 m-0 mr-1"> Type of Work</label>
        <div class="mx-3">:</div>
        <div class="d-flex  w-60">
        <select class="form-control" disabled [(ngModel)]="Type_of_Work">
           <option value="shop/Pvt">shop/Pvt Sector</option>
           <option value="Railway Station">Railway Station</option>
           <option value="Hotels">Hotels</option>
           <option value="Begging">Begging</option>
           <option value="Brick_Klins">Brick Klins</option>
           <option value="Factories">Factories</option>
           <option value="Construction_Works">Construction Works</option>
           <option value="others">others</option>
       </select>
 </div>
 </div>
      <div class="center m-1">
        <label class="text-left text-muted w-40 m-0 mr-1">School Joined</label>
        <div class="mx-3">:</div>
        <div class="d-flex  w-60">
        <input type="radio" name="child" id="childYes" value="He is a child" disabled [(ngModel)]="child" (click)="Yes()"><label class="mx-1" for="childYes" class="mx-1">Yes</label>
        <input type="radio" name="child" id="childNo" value="He is not a child"  disabled [(ngModel)]="child"  (click)="No()"><label class="mx-1" for="childNo" class="mx-1">No</label>
      </div>
      </div>
      <div class="center m-1" *ngIf="Display">
        <label class="text-left text-muted w-40 m-0 mr-1">Studied class</label>
        <div class="mx-3">:</div>
        <input class="form-control w-60" type="text" disabled [(ngModel)]="StudiedClass">
      </div>
      
      <div class="center m-1">
        <label class="text-left text-muted w-40 m-0 mr-1">Class to be Admitted</label>
        <div class="mx-3">:</div>
        <input class="form-control w-60" type="text" disabled [(ngModel)]="AdmittedClass">
        </div>
        <div class="center m-1">
            <label class="text-left text-muted w-40 m-0 mr-1">Nearest School</label>
            <div class="mx-3">:</div>
            <input class="form-control w-60" type="text" disabled [(ngModel)]="NearestSchool">
            </div>
      <div class="center m-1">
         <label class="text-left text-muted w-40 m-0 mr-1" for="SchoolAddress">School Address</label>
         <div class="mx-3">:</div>
         <div class="d-flex w-60">
         <textarea row="20" cols="25" class="form-control" disabled [(ngModel)]="SchoolAddress" id="SchoolAddress" ></textarea>
      </div>
      </div>
    
    <!-- Work End -->
    <!-- Require Start-->

    <div class="center m-1">
        <label class="text-left text-muted w-40 m-0 mr-1">Lively Hood Requirement</label>
        <div class="mx-3">:</div>
        <div class="d-flex  w-60">
            <input disabled [(ngModel)] = "LivingRequirement" type="radio" name="LivingRequirement" value="Lively Hood Requirement Needed" id="LivingYes"><label class="mx-1" for="LivingYes">Yes</label>
            <input disabled [(ngModel)] = "LivingRequirement" type="radio" name="LivingRequirement" value="LivingNo" id="Lively Hood Requirement Not Needed"><label class="mx-1" for="LivingNo">No</label>
        </div>
    </div>
    <div class="center m-1">
        <label class="text-left text-muted w-40 m-0 mr-1">Aadhar Having</label>
        <div class="mx-3">:</div>
        <div class="d-flex  w-60">
            <input disabled [(ngModel)] = "Aadhar" type="radio" name="Aadhar" id="chkYes" value="Having Aadhar "><label class="mx-1" for="chkYes">Yes</label>
            <input disabled [(ngModel)] = "Aadhar" type="radio" name="Aadhar" id="chkNo" value="NothavingAadhar"><label class="mx-1" for="chkNo">No</label>
        </div>
    </div>

    <div class="center m-1">
        <label class="text-left text-muted w-40 m-0 mr-1">Ration Card</label>
        <div class="mx-3">:</div>
        <div class="d-flex  w-60">
            <input disabled [(ngModel)] = "Ration" type="radio" name="Ration" value="Having Ration" id="RationYes"><label class="mx-1" for="RationYes">Yes</label>
            <input disabled [(ngModel)] = "Ration" type="radio" name="Ration" value="Not having Ration" id="RationNo"><label class="mx-1" for="RationNo">No</label>
        </div>
    </div>
    <!-- Require End -->
    <!-- Disibility start-->
    <div class="center m-1">
        <label class="mx-1" class="text-left text-muted w-40 m-0 mr-1">Physically<br>handycaped</label>
      <div class="mx-3">:</div>
        <div class="d-flex  w-60">
          <input type="radio" disabled [(ngModel)]="Physicallyhandycapped" name="Physicallyhandycapped"
            value="PhysicallyhandycappedYes" id="PhysicallyhandycappedYes"><label class="mx-1"
            for="PhysicallyhandycappedYes">Yes</label>
          <input type="radio" disabled [(ngModel)]="Physicallyhandycapped" name="Physicallyhandycapped"
            value="PhysicallyhandycappedNo" id="PhysicallyhandycappedNo"><label class="mx-1"
            for="PhysicallyhandycappedNo">No</label>
        </div>
    </div>
    <div class="center m-1">
        <label class="mx-1" class="text-left text-muted w-40 m-0 mr-1">Mentally Retired</label>
        <div class="mx-3">:</div>
        <div class="d-flex  w-60">
          <input type="radio" name="MentallyRetired" disabled [(ngModel)]="MentallyRetired" value="MentallyRetiredYes"
            id="MentallyRetiredYes"><label class="mx-1" for="MentallyRetiredYes">Yes</label>
          <input type="radio" name="MentallyRetired" disabled [(ngModel)]="MentallyRetired" value="MentallyRetiredNo"
            id="MentallyRetiredNo"><label class="mx-1" for="MentallyRetiredNo">No</label>
        </div>
    </div>
      <div class="center m-1">
        <label class="mx-1" class="text-left text-muted w-40 m-0 mr-1">Deaf & Dumb</label>
        <div class="mx-3">:</div>
        <div class="d-flex  w-60">
          <input type="radio" name="dedu" disabled [(ngModel)]="DeafandDumb" value="deduYes" id="deduYes"><label class="mx-1"
            for="deduYes">Yes</label>
          <input type="radio" name="dedu" disabled [(ngModel)]="DeafandDumb" value="deduNo" id="deduNo"><label class="mx-1"
            for="deduNo">No</label>
        </div>
      </div>
      <div class="center m-1">
        <label class="mx-1" class="text-left text-muted w-40 m-0 mr-1">Inherited Disabilities</label>
        <div class="mx-3">:</div>
        <div class="d-flex  w-60">
          <input type="radio" name="inhdis" disabled [(ngModel)]="InheritedDisabilities" value="InheritedDisabilitiesYes"
            id="InheritedDisabilitiesYes"><label class="mx-1" for="InheritedDisabilitiesYes">Yes</label>
          <input type="radio" name="inhdis" disabled [(ngModel)]="InheritedDisabilities" value="InheritedDisabilitiesNo"
            id="InheritedDisabilitiesNo"><label class="mx-1" for="InheritedDisabilitiesNo">No</label>
        </div>
      </div>
      <div class="center m-1">
        <label class="mx-1" class="text-left text-muted w-40 m-0 mr-1">Poverty and Malnutrition</label>
        <div class="mx-3">:</div>
        <div class="d-flex  w-60">
          <input type="radio" name="PovertyandMalnutration" disabled [(ngModel)]="PovertyandMalnutration"
            value="PovertyandMalnutrationYes" id="PovertyandMalnutrationYes"><label class="mx-1"
            for="PovertyandMalnutrationYes">Yes</label>
          <input type="radio" name="PovertyandMalnutration" disabled [(ngModel)]="PovertyandMalnutration"
            value="PovertyandMalnutrationNo" id="PovertyandMalnutrationNo"><label class="mx-1"
            for="PovertyandMalnutrationNo">No</label>
        </div>
      </div>
    <!-- Disibility End -->
    </div>

    <div class="mx-auto center m-5 d-flex">
      <button class="btn btn-success mx-2" (click)="submit()" *ngIf = "submittrue">Final Submit</button>
    </div>
</div>