<div class="container-fluid p-0">
    <div class="">
        <div class="nav col ps-md-2 pt-2">
            <div class="sidebar overflow-scroll" >
                <app-sidebar></app-sidebar>
            </div>
            <p class="m-0">Government of Andhra Pradesh</p>
            <div class="user center border border-warning"></div>
        </div>
        <div class="container">
            <div class="sub-container-1">
                <div class="report"></div>
            </div>

            <div class="sub-container-2">
                <div class="main-row">
                    <div class="main-card name-l main-clr">
                        <p>{{Total_reports}}</p>
                        <p>Total reports</p>
                    </div>
                    <div class="main-card name-l main-clr">
                        <p>{{Today_reports}}</p>
                        <p>Todays reports</p>
                    </div>
                    <div class="main-card">

                    </div>
                </div>

                <div class="section">

                    <!-- charts start -->
                    <div class="chart">
                        <app-charts-c></app-charts-c>
                    </div>


                    <div class="rows">
                        <div class="fst-row">
                            <div class="fst-row-1">
                                <div class="card name-s clr-beg">
                                    <p class="">{{Hotels}}</p>
                                    <p>begging</p>
                                </div>
                                <div class="card name-s clr-htl">
                                    <p class="">{{Hotels}}</p>
                                    <p>hotel</p>
                                </div>
                            </div>
                            <div class="fst-row-2">
                                <div class="card name-s clr-shop">
                                    <p class="">{{pvt}}</p>
                                    <p>shop/pvt sector</p>
                                </div>
                                <div class="card name-s clr-rail">
                                    <p class="">{{rail}}</p>
                                    <p>railway station</p>
                                </div>
                            </div>
                        </div>
                        <div class="sec-row">
                            <div class="sec-row-1">
                                <div class="card name-s clr-brk">
                                    <p class="">{{brick}}</p>
                                    <p>brick klims</p>
                                </div>
                                <div class="card name-s clr-fact">
                                    <p class="">{{Factories}}</p>
                                    <p>factories</p>
                                </div>
                            </div>
                            <div class="sec-row-2">
                                <div class="card name-s clr-cons">
                                    <p class="">{{Construction}}</p>
                                    <p>construction</p>
                                </div>
                                <div class="card name-s clr-oth">
                                    <p class="">{{other}}</p>
                                    <p>others</p>
                            </div>
                        </div>

                    </div>

                </div>

            </div>



        </div>
    </div>
</div>